@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


$primary-background: #fffefe;

$spacing-1: 2rem;
$spacing-2: 1.5rem;
$spacing-3: 1rem;
$spacing-4: 4px;

$main-font: "Pacifico", cursive;
$secondary-font: "Lobster", cursive;
$tertiary-font: "Poppins", sans-serif;

$primary-color: #ffefef;
$secondary-color: #f6a4a4;

$smaller-desktop-breakpoint: 1450px;