@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$primary-background: #fffefe;

$spacing-1: 2rem;
$spacing-2: 1.5rem;
$spacing-3: 1rem;
$spacing-4: 4px;

$main-font: "Pacifico", cursive;

$primary-color: #ffefef;
$secondary-color: #f6a4a4;