@import "../_variables.scss";
.myListPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .myListPage_title {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: $secondary-color;
        font-family: $secondary-font;
    }

    .myListPage_recipes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: $spacing-2;
        max-width: 80vw;
    }
}
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
